/*Title font, fancy and cursive*/
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');
*{font-family: 'Patrick Hand SC', cursive;
}

/*regular paragraph font*/
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,800,800i');
*{font-family: 'Alegreya Sans', sans-serif;
}

.main-heading {
   font-family: 'Patrick Hand SC', cursive;
   font-size: 3em;
   color: #13181E;
}

.content {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    color: #13181E;
}
body {
    background-image: url("tree_branches.png");
    background-repeat: repeat-y;
}
