/*Title font, fancy and cursive*/
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
*{font-family: 'Homemade Apple', cursive;
}

/*regular paragraph font*/
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,800,800i');
*{font-family: 'Alegreya Sans', sans-serif;
}

.main-heading {
   font-family: 'Patrick Hand SC', cursive;
   font-size: 3em;
   color: #13181E;
}

.content {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    color: #13181E;
}
.text-block::first-letter {
    font-size: 4em;
    font-weight: 700;
    color: rgb(174, 117, 98);
}

.left {
   text-align: left;
}
.right {
   text-align: right;
}
.center {
   text-align: center;
}
.justify {
   text-align: justify;
}

body {
  background-color: #D5A988;
    background: url("../images/left_branches.png") left repeat-y,
    url("../images/right_branches.png") right repeat-y;
    background-size: 10%;
}

.hover-element {
    font-size: 1em;
    background-color: rgb(174, 117, 98);
    background-size: 500, 300;
    color: #13181E;
    padding: 1em;
    text-align: center;
    width: 400px;
}
.hover-element:hover {
    font-size: 1em;
    background-image: url("../images/mad_doctor.png");
    background-position: center center;
    background-size: contain;
   background-repeat: no-repeat;
   color: rgb(174, 117, 98);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 0em;
    height: 400px;
}
