/*Title font, fancy and cursive*/
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
*{font-family: 'Homemade Apple', cursive;
}

/*regular paragraph font*/
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,800,800i');
*{font-family: 'Alegreya Sans', sans-serif;
}

header {
    margin: 0 0 2em 0;
    padding: 0;
}

.menu-container {
    background-color: rgb(174, 117, 98);
    margin: 0;
    padding: 0;
}

.menu-item {

    display: inline-block;
    width: 4em;
    padding: 0.5em 1em;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    text-decoration: none;
    color: #13181E;
    margin: auto;
}

.menu-item:hover, .dropdown:hover {
    color: #13181E;
    background-color: rgb(174, 117, 98);
}

/* Add a dropdown feature: */
.dropdown {
  font-family: 'Patrick Hand SC', cursive;
    display: inline-block;
    color: #13181E;
}

.dropdown-content {
  font-family: 'Patrick Hand SC', cursive;
    display: none;
    position: absolute;
    margin: 0;
    color: #13181E;
    background-color: rgb(174, 117, 98);
    z-index: 1;
}

.dropdown-content a {
    color: #13181E;
    font-family: 'Patrick Hand SC', cursive;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #13181E;
    background-color: rgb(174, 117, 98);
}



.lower-header {
    margin: 0;
    background-color: rgb(174, 117, 98);
    height: 110px;
}

.site-name {
    float: left;
    padding: 25px 10px;
    margin-left: 0.5em;
    font-weight: lighter;
    font-size: 2.5em;
    color: #13181E;
}

.site-logo {
    font-size: 2.5em;
    float: right;
    padding: 15px 10px;
    margin-right: 0.25em;
}

.site-logo img {
    height: 80px;
}

.main-heading {
   font-family: 'Patrick Hand SC', cursive;
   font-size: 3em;
   color: #13181E;
}

.content {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    color: #13181E;
}
.text-block::first-letter {
    font-size: 4em;
    font-weight: 700;
    color: #13181E;
}

.left {
   text-align: left;
}
.right {
   text-align: right;
}
.center {
   text-align: center;
}
.justify {
   text-align: justify;
}

.quote div {
   font-size: 1em;
   background-color: rgb(174, 117, 98);
   color: #13181E;
   margin: 1em;
   padding: 1em;
}

.review {
  font-size: 1em;
  font-family: 'Patrick Hand SC', cursive;
  font-color: #13181E;
}

body {

    background: url("../images/left_branches.png") left repeat-y,
    url("../images/right_branches.png") right repeat-y;
    background-size: 10%;
      background-color: #D5A988;
}

.hover-element {
    font-size: 1em;
    background-color: rgb(174, 117, 98);
    background-size: 500, 300;
    color: #13181E;
    padding: 1em;
    text-align: center;
    width: 400px;
}
.hover-element:hover {
    font-size: 1em;
    background-image: url("../images/mad_doctor.png");
    background-position: center center;
    background-size: contain;
   background-repeat: no-repeat;
   color: rgb(174, 117, 98);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 0em;
    height: 400px;
}
